.full-width {
  width: 100%;
}

.mat-card-representante{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mat-card-form{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mat-warn {
  background: var(--componentesPrimario);
}
