


<div style="height: 100vh;">
  <mat-toolbar color="primary" >

    <div fxShow="true" fxHide.gt-sm="true" >
      <span class="logo-cel" >Restoke</span>

      <app-pesquisa class="full-width-searching-cel"></app-pesquisa>

      <button mat-icon-button >
        <mat-icon>shop</mat-icon>
      </button>

      <button mat-button class="button-login" >Login</button>

    </div>
    <div fxShow="false" fxHide.gt-sm="false">
      <mat-toolbar-row class="config-toolbal" >

        <span class="logo" >Restoke</span>

        <app-pesquisa class="full-width-searching" style="Flex: 1 1; padding: 2%"></app-pesquisa>

        <button mat-icon-button >
          <mat-icon>shop</mat-icon>
        </button>

        <button mat-button class="button-login" >Login</button>

      </mat-toolbar-row>
    </div>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" color="secondary"></mat-progress-bar>

  <mat-toolbar color="secondary">
    <mat-toolbar-row class="config-toolbal-secondary">

    </mat-toolbar-row>
    <app-nav-bar class="example-spacer-secondary"></app-nav-bar>
  </mat-toolbar>
</div>

