





<mat-toolbar
  color="primary"
  fxShow="true"
  fxHide.gt-sm="true"
  fxLayout="column"
  fxLayoutAlign="space-between center"
  class="columm-config"
>

  <div>
    <button mat-button color="accent" class="logo-cel" (click)="acessMenu()"  >Restoke</button>
  </div>

  <!--app-pesquisa class="full-width-searching-cel"></app-pesquisa-->

  <div *ngIf="!authFornecedor && !authRepresentante" style="margin-bottom: 10px">
    <button (click)="acessarArea()" mat-button class="button-login" >Acesso de Área</button>
    <button (click)="cadastrar()" mat-button class="button-login" >Cadastrar</button>
  </div>
  <div *ngIf="authFornecedor && !authRepresentante" style="margin-bottom: 10px">
    <button mat-button class="button-login" (click)="acessarForn()">Menu</button>
    <button mat-button class="button-login" (click)="sairForn() ">Sair</button>
  </div>
  <div *ngIf="!authFornecedor && authRepresentante"  style="margin-bottom: 10px">
    <button mat-button class="button-login" (click)="acessarRep()">Menu</button>
    <button mat-button class="button-login" (click)="sairRep() ">Sair</button>
  </div>


</mat-toolbar>

<mat-toolbar
  color="primary"
  fxShow="false"
  fxHide.gt-sm="false"
  fxLayout="row"
  fxLayoutAlign="space-around center"
>
  <mat-toolbar-row class="config-toolbal" >

    <!--button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu-- #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu-->



      <button mat-button color="accent"
              class="logo"
              fxFlex="66" fxFlexOffset="33"
              (click)="acessMenu()"  >Restoke</button>
      <span class="spacer"></span>


    <!--app-pesquisa class="full-width-searching-cel"></app-pesquisa-->

    <div fxFlex="33" fxLayoutAlign="end center" *ngIf="!authFornecedor && !authRepresentante" >
      <button (click)="acessarArea()" mat-button class="button-login" >Acesso de Área</button>
      <button (click)="cadastrar()" mat-button class="button-login" >Cadastrar</button>
    </div>
    <div *ngIf="authFornecedor && !authRepresentante" fxFlex="33" fxLayoutAlign="end center">
      <button mat-button class="button-login" (click)="acessarForn()">Menu</button>
      <button mat-button class="button-login" (click)="sairForn() ">Sair</button>
    </div>
    <div *ngIf="!authFornecedor && authRepresentante" fxFlex="33" fxLayoutAlign="end center">
      <button mat-button class="button-login" (click)="acessarRep()">Menu</button>
      <button mat-button class="button-login" (click)="sairRep() ">Sair</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


