
.top-menu{
  background-color: var(--componentesPrimario);
  font-size: 1.1rem;
  height: 120px;
}

.mat-primary{
  background-image: url(../../../../assets/imgBackgroung/fundo-site-azul-scaled.jpg);
}

.config-toolbal{
  font-size: 1.1rem;
  height: 120px;
}

.mat-secondary{
  background-color: rgb(100,149,237);
}

.config-toolbal-secondary{
  font-size: 1.0rem;
  height: 20px;
  flex: 1 1 auto;
}

.example-spacer-secondary {
  flex: 1 1 auto;
}

.logo{

  font-size: 3.0rem;
  padding-right: 4%;

}

.mat-accent{
  color: white;
}

.logo-cel{
  padding-top: 20px;
  font-size: 3.0rem;
  padding-bottom:10px;

}

.spacer {
  Flex:1 1;
}

.full-width-searching {
  max-width: 70%;
  padding-right: 5%;
  padding-left: 3%;
  padding-top: 10px;
}

.full-width-searching-cel {
  max-width: 70%;
  padding-right: 5%;
  padding-left: 3%;
}

.columm-config{
  height: 145px;
  background-image: url(../../../../assets/imgBackgroung/fundo-site-azul-scaled.jpg);
}

.button-login{
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #ababab;
  margin-right: 2px;
  border-radius: 50px;
}

#fundoIMG{

}









