





<mat-toolbar
  color="primary"
  fxShow="true"
  fxHide.gt-sm="true"
  fxLayout="column"
  fxLayoutAlign="space-between center"
  class="columm-config"
>

  <button mat-button color="accent" class="logo-cel" (click)="acessMenu()"  >Restoke</button>

  <!--app-pesquisa class="full-width-searching-cel"></app-pesquisa-->

  <div *ngIf="autenticado === false">
    <button (click)="acessarArea()" mat-button class="button-login" >Acesso de Área</button>
    <button (click)="cadastrar()" mat-button class="button-login" >Cadastrar</button>
  </div>
  <button mat-button class="button-login" (click)="sair() " *ngIf="autenticado === true">Sair</button>

</mat-toolbar>

<mat-toolbar
  color="primary"
  fxShow="false"
  fxHide.gt-sm="false"
  fxLayout="row"
  fxLayoutAlign="space-around center"
>
  <mat-toolbar-row class="config-toolbal" >


    <button mat-button color="accent"
            class="logo"
            fxFlex="66" fxFlexOffset="33"
            (click)="acessMenu()"  >Restoke</button>
    <span class="spacer"></span>

    <!--app-pesquisa class="full-width-searching-cel"></app-pesquisa-->

    <div fxFlex="33" fxLayoutAlign="end center" *ngIf="autenticado === false">
      <button (click)="acessarArea()" mat-button class="button-login" >Acesso de Área</button>
      <button (click)="cadastrar()" mat-button class="button-login" >Cadastrar</button>
    </div>
    <button mat-button class="button-login" (click)="sair() " *ngIf="autenticado === true">Sair</button>
  </mat-toolbar-row>
</mat-toolbar>

<!--mat-progress-bar mode="indeterminate" color="secondary"></mat-progress-bar-->

  <!--mat-toolbar color="secondary">
    <mat-toolbar-row class="config-toolbal-secondary">

    </mat-toolbar-row>
    <app-nav-bar class="example-spacer-secondary"></app-nav-bar>
  </mat-toolbar-->


