
<mat-toolbar color="warn" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="accent" (click)="voltar()" >voltar</button>
  <span class="spacer"></span>
  <h2 style="color: black">Cadastro de representante</h2>
  <span class="spacer"></span>
</mat-toolbar>


<mat-card style="margin: 20px">

  <div fxLayout="column" fxLayoutAlign="center center" >
    <mat-card-header>
      <mat-card-title >Foto de Perfil</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imagePath"
         alt="Sem Perfil" *ngIf="!imagemUrl">
    <img class="center" [src]="imagemUrl" height="200" *ngIf="imagemUrl " alt="Avatar">
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <mat-card-content>
      <p>
        Adicione Uma foto
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="imgFileInput.click()" style="text-align: center">Arquivar</button>
      <!--button mat-raised-button color="primary" [disabled]="!selectedFiles"  (click)="upload()">Enviar</button-->
    </mat-card-actions>
    <input hidden type="file" #imgFileInput (change)="onSelectFile($event)" accept='image/*' >
  </div>

  <form [formGroup]="form">



      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="nome">Nome</mat-label>
              <input type="text" id="nome"
                     formControlName="nome"
                     placeholder="Ex: João Carvalho"
                     matInput
                     required
              >
              <mat-error *ngIf="form.controls.nome.hasError('required')">
                O seu nome é <strong>necessário</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>


      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="cpf">CPF</mat-label>
              <input type="text" id="cpf"
                     formControlName="cpf"
                     placeholder="Ex: 000000000-00"
                     matInput
                     required
              >
              <mat-error *ngIf="form.controls.cpf.hasError('cpf') && !form.controls.cpf.hasError('required')">
                Por favor entre com um cpf válido
              </mat-error>
              <mat-error *ngIf="form.controls.cpf.hasError('required')">
                O cpf é <strong>necessário</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>


      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="numContato">Número de contato</mat-label>
              <input id="numContato" formControlName="numContato" matInput required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="Email">Email</mat-label>
              <input id="email" formControlName="email" matInput required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="apresentacao">Texto apresentação</mat-label>
              <textarea id="apresentacao" formControlName="apresentacao" matInput ></textarea>
            </mat-form-field>
          </td>
        </tr>
      </table>





      <div fxLayout="row" fxLayoutAlign="center center">
        <button type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()"

                mat-raised-button color="secondary">Salvar
        </button>
        <!--a hidden mat-raised-button color="secondary"
           #acessLink
           [routerLink]="['RepresentanteCadastro', idRep]"
        >
          Salvar
        </a-->


        <button (click)="cancelar()" mat-raised-button style="margin-left: 10px">Cancelar</button>
      </div>

  </form>
</mat-card>







