.mat-warn {
  background: var(--componentesPrimario);
}

.full-width {
  width: 100%;


}

td {
  padding-right: 8px;
}

.mat-secondary{
  background-color: rgb(57,73,171);
}

img {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align: middle;
}

.card-class {
  max-width: 100%;
  height: content-box;

  margin-left: 10px;
  margin-right: 10px;
}

.header-image {
  background-size: cover;

}

.spacer {
  flex: 1 1 auto;
}
