<div [formGroup]="form">
  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="nomeFantasia">Nome Fantasia</mat-label>
          <input type="text" id="nomeFantasia"
                 formControlName="nomeFantasia"
                 placeholder="Ex: Restoke"
                 matInput
                 required
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="cnpj">cnpj</mat-label>
          <input type="text" id="cnpj"
            formControlName="cnpj"
            placeholder="Ex: 00.000.000/0001-00"
            matInput
            required
          >
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="txtApresentacao">Texto apresentação</mat-label>
          <textarea id="txtApresentacao" formControlName="txtApresentacao" matInput ></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="fraseImpacto" >Frase de impacto</mat-label>
          <input id="fraseImpacto" formControlName="fraseImpacto"  matInput required>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="contatoFabrica">Contato Fabrica</mat-label>
          <textarea  id="contatoFabrica" formControlName="contatoFabrica"  matInput required></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="endereco">Endereço</mat-label>
          <input id="endereco" formControlName="endereco" matInput required>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div>
    <button type="submit" [disabled]="!form.valid" (click)="salvar()" mat-raised-button color="secondary">Salvar
    </button>
    <button (click)="cancelar()" mat-raised-button style="margin-left: 10px">Cancelar</button>
  </div>
</div>
