<nav style="margin: 10px">
  <a mat-raised-button
     routerLink="representanteCadastro"
     routerLinkActive="activebutton"
     color="primary">Cadastrar Representante
  </a>
</nav>
<nav style="margin: 10px">
  <a mat-raised-button
     routerLink="cadastroProduto"
     routerLinkActive="activebutton"
     color="primary">Cadastrar Produto
  </a>
</nav>
<nav style="margin: 10px">
  <a mat-raised-button
     routerLink="atualizarproduto"
     routerLinkActive="activebutton"
     color="primary">Atualizar dados do Produto
  </a>
</nav>



{{fornecedor | json}}


