

<div style="background: rgb(100,149,237) ">
  <mat-toolbar color="primary"  fxLayout="row" fxLayoutAlign="space-around center" >
    <button mat-raised-button color="accent" (click)="voltar()" >voltar</button>
    <span class="spacer"></span>
    <span style="text-align: center">Cadastro de produto</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-card class="card-class">
    <div style="text-align: center;">
      <img mat-card-image [src]="imagemDefault"
           alt="Sem Perfil" *ngIf="!imagemUrl">
      <img class="center" [src]="imagemUrl" height="200" *ngIf="imagemUrl " alt="Avatar">
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <mat-card-content>
        <p>
          Adicione Uma foto
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="imgFileInput.click()" style="text-align: center">Adicionar imagem</button>
      </mat-card-actions>
      <input hidden
             type="file"
             #imgFileInput
             (change)="onSelect($event)"
             accept='image/*'

      />
    </div>

    <form [formGroup]="form">
      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="nome">Nome</mat-label>
              <input type="text" id="nome"
                     formControlName="nome"
                     placeholder="Ex: João Carvalho"
                     matInput
                     required
              >
              <mat-error *ngIf="form.controls.nome.hasError('required')">
                O seu nome é <strong>necessário</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>


      <!--table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="codigo_barra">Código de Barras</mat-label>
              <input type="text" id="codigo_barra"
                     formControlName="codigo_barra"
                     placeholder="Ex: "
                     maxlength= "13"
                     matInput
                     required
              >
              <mat-error *ngIf="form.controls.codigo_barra.hasError('codigo_barra') && !form.controls.codigo_barra.hasError('required')">
                Por favor entre com um cpf válido
              </mat-error>
              <mat-error *ngIf="form.controls.codigo_barra.hasError('required')">
                O codigo_barra é <strong>necessário</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table-->

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="categoria">Categoria</mat-label>
              <input type="text" id="categoria"
                     formControlName="categoria"
                     placeholder="Ex: "
                     matInput
                     required
              >
              <mat-error *ngIf="form.controls.categoria.hasError('required')">
                A categoria é <strong>necessária</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label for="descricao">Descrição</mat-label>
              <input type="text" id="descricao"
                     formControlName="descricao"
                     placeholder="Ex: "
                     matInput
                     required
              >
              <mat-error *ngIf="form.controls.categoria.hasError('required')">
                A descrição é <strong>necessária</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div>
        <button type="submit" color="accent"
                [disabled]="!form.valid "

                (click)="salvar()"

                mat-raised-button >Salvar
        </button>

        <button (click)="cancelar()" mat-raised-button style="margin-left: 10px">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>








