


  <mat-toolbar color="primary" style="background: rgb(57,73,171);" >

    <button mat-icon-button (click)="voltar()" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <h2>Faça o acesso com um perfil</h2>
    <span class="spacer"></span>
  </mat-toolbar>


  <div *ngIf="(representante$ | async) as representantes; else loading">
    <span *ngFor="let representantes of representantes; index as i;">
      <mat-card style="margin: 20px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="font"> {{ representantes.nome }}</span>
          <button (click)="getPerfil(representantes)" style="align-content: center" mat-raised-button color="primary" >
            acessar
          </button>
        </div>
      </mat-card>
    </span>
  </div>

  <ng-template #loading>
    <div fxLayoutAlign="center center">
      <mat-spinner [diameter]="200"></mat-spinner>
    </div>
  </ng-template>

  <br>

