

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome Produto</mat-label>
      <input type="text"



             [(ngModel)]="nomeProduto"

             matInput >
    </mat-form-field></td>
  </tr></table>



  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>código de barra</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Preço unitário</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Preço por lote</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição do produto</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

<p>nomeProduto: {{ nomeProduto }}</p>
