<div style="background: cornflowerblue; height: max-content">

  <mat-toolbar color="warn"  fxLayout="row" style="height: 80px">
    <button (click)="onCancel()" mat-raised-button color="accent"  style="background-color: red">Voltar</button>
    <span class="spacer"></span>
    <div fxLayout="column">
      <span style="text-align: center">Cadastro de Fornecedor</span>
    </div>
    <span class="spacer"></span>
  </mat-toolbar>


<form [formGroup]="form" >

  <mat-card style="margin: 20px">

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="nome">Nome</mat-label>
            <input type="text" id="nome"
                   formControlName="nome"
                   placeholder="Ex: João Carvalho"
                   matInput
                   required
            >
            <mat-error *ngIf="form.controls.nome.hasError('required')">
              O seu nome é <strong>necessário</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="nomeFantasia">Nome Fantasia</mat-label>
            <input type="text" id="nomeFantasia"
                   formControlName="nomeFantasia"
                   placeholder="Ex: Restoke"
                   matInput
                   required
            >
            <mat-error *ngIf="form.controls.nomeFantasia.hasError('required')">
              O nome fantasia é <strong>necessário</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>


    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="cnpj">cnpj</mat-label>
            <input type="text" id="cnpj"
              formControlName="cnpj"
              placeholder="Ex: 00.000.000/0001-00"
              pattern="[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{4}[0-9]{2}|[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}"
              maxlength="18"
              matInput
              required
            >
            <mat-error *ngIf="form.controls.nomeFantasia.hasError('cnpj') && !form.controls.nomeFantasia.hasError('required')">
              Por favor entre com um cnpj válido
            </mat-error>
            <mat-error *ngIf="form.controls.nomeFantasia.hasError('required')">
              O cnpj é <strong>necessário</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="txtApresentacao">Texto apresentação</mat-label>
            <textarea id="txtApresentacao" formControlName="txtApresentacao" matInput ></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="fraseImpacto" >Frase de impacto</mat-label>
            <input id="fraseImpacto" formControlName="fraseImpacto"  matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="email" >Email</mat-label>
            <input id="email" formControlName="email"  matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="contatoFabrica">Contato Fabrica</mat-label>
            <input id="contatoFabrica" formControlName="contatoFabrica"  matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="numContato">Número de Contato</mat-label>
            <input  id="numContato" formControlName="numContato"  matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="endereco">Endereço</mat-label>
            <input id="endereco" formControlName="endereco" matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label for="site">Site</mat-label>
            <input id="site" formControlName="site" matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div>
      <button type="submit" [disabled]="!form.valid" (click)="onSubmit()" mat-raised-button color="secondary">Salvar
      </button>
      <button (click)="onCancel()" mat-raised-button style="margin-left: 10px">Cancelar</button>
    </div>
  </mat-card>

</form>
</div>
<br>



