:root {
  --componentesPrimario: pink;
  --componentesSecundario: #4682B4;
  --componentesTerciario: rgb(57,73,171);
  --corFundo: cornflowerblue;


}

.bory{
  background: cornflowerblue;
  min-height:100% ;
  height: inherit;
}


.example-spacer {
  flex: 1 1 auto;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

#img{
  background-image: url(../assets/imgBackgroung/fundo.jpg);
}


