:root {
  --componentesPrimario: pink;
  --componentesSecundario: #4682B4;
  --componentesTerciario: rgb(57,73,171);
  --corFundo: cornflowerblue;


}


.example-spacer {
  flex: 1 1 auto;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


