
<!--mat-toolbar color="primary"
             fxLayout="row" fxLayoutAlign="center center"
             style="padding-top: 40px; padding-left: 2%; padding-right: 2%; height: 100px">


  <div
    fxFlex="calc(50%)"
    fxFlex.lt-md="calc(70%)"
    fxFlex.lt-sm="100%"
    fxLayout="row" fxLayoutAlign="center start"
  >
  <mat-form-field appearance="outline" style="width: 70%">
    <mat-label>Pesquise por produtos aqui!</mat-label>
    <input type="text"
           (keyup)="onKeyUp($event)"
           (keyup.enter)="enterEvent(campoImput.value)"
           (blur)="salvarValor(campoImput.value)"
           #campoImput

           matInput [formControl]="message">
    <button mat-icon-button matSuffix
            [matTooltip]="message.value">
      <mat-icon>searching</mat-icon>
    </button>
  </mat-form-field>
  </div>
</mat-toolbar-->


<div style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">



    <div *ngIf="(representantes$ | async) as representantes; else loading " fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%">
      <div *ngFor="let representante of representantes" style="margin: 0.5%;">

        <div fxFlex="0 1 calc(33.3% - 11px)"
             fxFlex.lt-md="0 1 calc(50% - 11px)"
             fxFlex.lt-sm="100%">
          <button mat-button class="mat-card-representante" (click)="onRepresentante(representante.id)">
            <mat-card class="mat-card-representante">

              <mat-card-content fxLayoutAlign="center center" style="margin-top: 20px">
                <div>
                  <img mat-card-image class="image-perfil" width="170" height="170" [src]="imagePath" alt="image">
                </div>
              </mat-card-content>

              <mat-card-title class="mat-card-title-representante" fxLayoutAlign="center center">
                <div class="column">
                  <p>
                    <span style="font-size:1.5rem;"  fxLayoutAlign="center none">{{representante.nome}}</span>
                  </p>
                  <p style="font-size:0.9rem;">{{representante.apresentacao}}</p>

                </div>
              </mat-card-title>
              <!-- <mat-card-actions style="margin:1px;padding-bottom:5px; padding-top: 5px;">
              </mat-card-actions> -->
            </mat-card>
          </button>
        </div>
      </div>
    </div>

  <ng-template #loading>
    <div fxLayoutAlign="center center">
      <mat-spinner [diameter]="200"></mat-spinner>
    </div>
  </ng-template>



</div>

